---
layout: layouts/base
---

<div class="maw-4-xl mx-auto leading-6">
Here is your 111ty starter with a minimal sprinkling of great features.
<ul>
    <li>Tailwind CSS</li>
    <li>Inline CSS with Unpkg</li>
    <li>Eleventy Navigation (with eleventy-navigation)</li>
    <li>SEO (with eleventy-plugin-seo)</li>
</ul>
</div>